* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #e2e8f0;
}

/* NAV */
header {
  background: #020a2c;
  padding: 15px 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #1fc56a;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #e2e8f0;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 2.5rem;
}

.hero p {
  margin: 15px 0;
  color: #94a3b8;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #6d1ed4;
  color: #020617;
  text-decoration: none;
  border-radius: 6px;
}

.projects {
  padding: 60px 20px;
  text-align: center;
}

.project-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card a {
  display: inline-block;
  margin-top: 10px;
  color: #0b8620;
  text-decoration: none;
}

.about {
  padding: 60px 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  margin-top: 40px;
}